In [6]:
import pandas as pd

In [16]:
df = pd.read_csv("https://raw.githubusercontent.com/atlantico-academy/datasets/main/tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [11]:
df.to_csv("../data/raw/tips_data.csv", index=False)

In [18]:
dicionario = pd.DataFrame([
    {
        "variavel": "total_bill",
        "descricao": "valor da conta em dólares",
        "tipo": "quantitativa",
        "subtipo": "contínua",
    },{
        "variavel": "tip",
        "descricao": "valor da gorgeta em dólares",
        "tipo": "quantitativa",
        "subtipo": "contínua",
    },{
        "variavel": "sex",
        "descricao": "sexo de quem pagou a conta",
        "tipo": "qualitativa",
        "subtipo": "nominal",
    },{
        "variavel": "smoker",
        "descricao": "Se havia fumantes na mesa",
        "tipo": "qualitativa",
        "subtipo": "nominal",
    },{
        "variavel": "day",
        "descricao": "dia da semana",
        "tipo": "qualitativa",
        "subtipo": "ordinal",
    },{
        "variavel": "time",
        "descricao": "hora do dia",
        "tipo": "qualitativa",
        "subtipo": "nominal",
    },{
        "variavel": "size",
        "descricao": "quantidade de pessoas na mesa",
        "tipo": "quantitativa",
        "subtipo": "discreta",
    }
])
dicionario.to_csv("../data/external/tips_dictionary.csv", index=False)